@model NT1B_wAuthentication.Models.Persona

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

@ViewBag.MiNombre

@ViewData["Nom"]

@TempData["Nom"]

<hr />

<p>
    Apellido: @Model.Apellido
</p>
<p>
    Nombre: @Model.Nombre
</p>



