@model NT1B_wAuthentication.Models.Persona
@{
    ViewData["Title"] = "AddPersona";
}

@if (@Model == null)
{
    //Muestro Formulario
    <h1>Agregar Persona</h1>

    <form action="/Personas/AddPersona" method="post">
        <input type="text" name="nombre" placeholder="Nombre" />
        <input type="text" name="apellido" placeholder="Apellido" />
        <input type="number" name="edad" placeholder="Edad" />
        <input type="submit" value="Enviar" />
    </form>
}
else
{
    //Muestro datos
    <div>
        <h2>Nueva Persona</h2>
        @Html.DisplayNameFor(model => model.Nombre):
        @Html.DisplayFor(model => model.Nombre)
        @Html.DisplayNameFor(model => model.Apellido):
        @Html.DisplayFor(model => model.Apellido)
        @Html.DisplayNameFor(model => model.Edad):
        @Html.DisplayFor(model => model.Edad)
    </div>

}



